* {
    margin:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    background-color:rgba(0,10,0,0.3);
    gap:50px;
}

#titulo{
    display:flex;
    background-color:rgba(0,0,0,0.5);
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
    justify-content: center;
}

.title{
    font-weight:600;
    color:white;
    font-size:larger;
    font-style:italic;
    text-shadow:1px 1px 3px black;
    display:flex;
}
.contenedor .title{
    padding-top:20%;
    justify-content: center;
}
#main{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    gap:20px;
}

.contenedor{
    display:flex;
    border-radius: 20px;
    background-color:#110f11;
    box-shadow:5px 1px 15px white;
    align-items:center;
    width:50%;
}

#cont-text{
    display:flex;
    flex-direction: column;
    gap:30px;
}

#main #campos{
    display:flex;
    flex-direction:column;
    gap:15px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
}

#campos .campo{
    border-radius: 5px;
    padding:10px 10px 10px 10px;
}

#cont-result{
    display:flex;
    height:300px;
    border-left:5px solid white;
    width:600px;
    align-items:center;
    justify-content: center;
}

#cont-result .result{
    display: flex;
    font-size:30px;
    color:white;
}

.btn{
    background-color:gray;
    border-radius:5px;
    font-size:15px;
    padding:6px 18px;
    border: 0px;
    box-shadow:1px 1px 5px black;
}

#panel{
    display:flex;
    gap:20px;
}

#panel span{
    color:white;
    font-weight:600;
}